@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DK+Uloopet:wght@100..400&display=swap");

* {
  margin: 0;
  padding: 0;
}
/* 
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.play-font {
  font-family: "Playwrite DK Uloopet", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-primary {
  background-color: rgb(230, 83, 60);
  border: none;
  border-radius: 2.5rem;
  color: aliceblue;
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
}

.body {
  max-width: 1440px;
}

.display-hidden {
  display: none;
}

.icon {
  width: 3rem;
  display: none;
}

.header {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(119, 119, 119, 0) 100%
  );
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  margin: 0 3rem;
}
.menu > ul {
  display: flex;
  align-items: center;
  color: white;
  list-style-type: none;
}

.menu > ul > a {
  text-decoration: none;
  margin-right: 1rem;
  color: white;
}
.navbar > h1 {
  color: rgb(230, 83, 60);
  font-size: 2.25rem;
  font-weight: 800;
}

#home {
  background-color: rgb(230, 83, 60);
  padding: 0.5rem 1rem;
  border-radius: 2.75rem;
}

/* hero section */

.hero {
  display: flex;
  justify-content: space-between;

  padding: 0 4rem;
  margin: 0 3rem;
}

.hero-contant {
  width: 32.5rem;
  height: 27.5rem;
}
.hero-title {
  font-size: 5rem;
  font-weight: 900;
  color: aliceblue;
}

.hero-contant > p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  list-style: 1.5rem;
  margin-bottom: 1rem;
}
#btn-download {
  background-color: black;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 2.5rem;
  color: aliceblue;
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
}

.hero-img {
  width: 21.9rem;
  height: 30.25rem;
}
.hero-img > img {
  height: 100%;
}

#round {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: rgb(230, 83, 60);
}

.video {
  display: flex;
  gap: 1rem;
  width: 10.75rem;
  height: 4rem;
  color: white;

  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(48, 48, 48, 0.54);
  border-radius: 0.8rem;
  opacity: 0.7;
  padding: 1.5rem;
  position: relative;
  align-items: center;
  left: -8rem;
  bottom: 10rem;
}
.workout {
  width: 11rem;
  height: 4rem;
  color: aliceblue;

  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(48, 48, 48, 0.54);
  border-radius: 0.8rem;
  opacity: 0.7;
  padding: 1.5rem;
  position: relative;
  align-items: center;
  right: -12rem;
  top: -500px;
}
.workout > h3 {
  font-size: 2rem;
}
.video > div > p {
  color: rgba(255, 255, 255, 0.5);
}
.workout > p {
  color: rgba(255, 255, 255, 0.5);
}

/* Responsive for Mobile */

@media screen and (max-width: 572px) {
  .menu > ul {
    display: none;
  }
  .icon {
    display: block;
  }
  .navbar {
    margin-left: 0;
  }

  .hero {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    margin: 0 3rem;
  }

  .buttons {
    display: flex;
    gap: 2rem;
  }

  #btn-download {
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2.5rem;
    color: aliceblue;
    font-size: 1rem;
    padding: 1rem 2rem;
  }
  .btn-primary {
    background-color: rgb(230, 83, 60);
    border: none;
    border-radius: 2.5rem;
    color: aliceblue;
    font-size: 1rem;
    padding: 1rem 2.5rem;
  }

  .hero-contant {
    width: 28rem;
    height: 18rem;
  }

  .hero-title {
    font-size: 2.25rem;
  }

  .hero-img {
    display: flex;
    justify-content: center;
    margin-left: 3rem;
  }

  .workout {
    width: 8rem;
    height: 2rem;
    color: aliceblue;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(48, 48, 48, 0.54);
    border-radius: 0.8rem;
    opacity: 0.7;
    padding: 1rem;
    position: relative;
    align-items: center;
    right: -15rem;
    top: -28rem;
  }
  .video {
    width: 8rem;
    height: 2rem;
    color: aliceblue;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(48, 48, 48, 0.54);
    border-radius: 0.8rem;
    opacity: 0.7;
    padding: 1rem;
    position: relative;
    align-items: center;
    left: 0.5rem;
    bottom: 6rem;
  }
  .workout > h3 {
    font-size: 1rem;
  }
  .workout > p {
    font-size: 0.8em;
  }
  .video > h3 {
    font-size: 1rem;
  }
  .video > p {
    font-size: 0.8em;
  }
}
