@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DK+Uloopet:wght@100..400&display=swap");

* {
  margin: 0;
  padding: 0;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.play-font {
  font-family: "Playwrite DK Uloopet", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-primary {
  background-color: rgb(230, 83, 60);
  border: none;
  border-radius: 2.5rem;
  color: aliceblue;
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
}
.btn-download{
  background-color: rgb(4, 4, 4);
  border: 2px solid white;
  border-radius: 2.5rem;
  color: aliceblue;
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  margin-left: 1rem;

}

.body {
  /* max-width: 1440px; */
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  background: rgb(0, 0, 0);
}

.responsive-br {
  display: inline;
}

.icon {
  width: 3rem;
  display: none;
}

.gray-description{
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;

}

.header {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(7, 7, 7, 0) 100%
  );
}


/* navbar section starts here */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  margin: 0 3rem;
}
.menu > ul {
  display: flex;
  align-items: center;
  color: white;
  list-style-type: none;
}

.menu > ul > a {
  text-decoration: none;
  margin-right: 1rem;
  color: white;
}
.navbar > h1 {
  color: rgb(230, 83, 60);
  font-size: 2.25rem;
  font-weight: 800;
}

#home {
  background-color: rgb(230, 83, 60);
  padding: 0.5rem 1rem;
  border-radius: 2.75rem;
}
/* navbar section ends here */




/* hero section */

.hero-container {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  margin: 0 3rem;

}

.hero-info{
  width:37.5rem ;
  height:25rem ;
}

#hero-title{
  color:white;
  font-size: 5rem;
  font-weight: bold;
}


.buttons{
  margin-top: 1rem;
}



.hero-img{
  width: 21rem;
  height:34rem ;
}
.hero-img img{
  width: 100%;
  height: 100%;
  position:relative;
}
.reddot{
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background: red;
}

.tutorial{
 
  background: rgba(48, 48, 48, 0.54);
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  position:absolute;
  bottom: 3rem;
  right:24rem
}
.tutorial-info{
  color:white;
  font-size: 1.5rem;
  font-weight: bold;
  
}

.videos{
  background: rgba(48, 48, 48, 0.54);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 10rem;
  position:absolute;
  top:18rem;
  right: 4rem;
  
}
.videos h2{
  color:white;
  font-weight: bold;
  font-size: 2.5rem;
}


/* Habit section starts here */

  .habit                                 {
    background: rgb(0, 0, 0);
    padding: 3rem 0;

  }

  .habit-title{
    color:aliceblue;
    font-size: 3rem;
    text-align: center;

  }
  .habit-subtitle{
    color:rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    text-align: center;
  }


  .circle-imgs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
  }
  .circle-img-card{
    text-align: center;
  }

  .circle-img-card img{
    border:1px solid white;
    border-radius: 50%;
    margin-bottom: 0.5rem;
  }
  .circle-img-card h3{
    color:aliceblue;
    font-size: 1rem;
  
  }

/* Habit section ends here */

/* Run section starts here */

  .run-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1.25rem;
    background-color: rgb(34, 34, 34);
    margin-bottom: 2rem;
  }

  .run-info{
    width: 50%;
  
  }

  .run-title{
    color: aliceblue;
    padding: 1rem 0;
  }

  .run-subtitle{
    color:rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    padding: 1rem 0;
    
  }

  .run-img{
    width: 22.75rem;
    height: 19.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .run-img img{
    width: 100%;
    height: 80%;
    border-radius: 1rem;
  }

/* Run section ends here */

/* training section starts here */

.training-container{
 
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
 
  
}

.training-info{
  width:50%;
}

.training-title{
    font-size: 3rem;
    font-weight: 900;
    color: aliceblue;
    padding: 1rem 0;
}

.training-subtitle{
  color:rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  padding: 1rem 0;
  margin-bottom: 3rem;
  
}
.first-row-img{
 display: grid;
 grid-template-columns: 1fr 2fr 1fr;
 color:white;
}

.training-img-card{
  height: 13.5rem;
}
.training-bg-one {
  background-image: url('/images/exercise1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(6, 255, 210, 0.5);
  background-blend-mode: overlay;
  position:relative;
}
.training-bg-two {
  background-image: url('/images/exercise2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 0, 0, 0.3);
  background-blend-mode: overlay;
  position: relative;
}
.training-bg-three {
  background-image: url('/images/exercise3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  position: relative;
}



.second-row-img{
  display: grid;
  grid-template-columns:  2fr 1fr 1fr;
  color:white;
 }

 .training-bg-four {
  background-image: url('/images/exercise4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  position: relative;
}
 .training-bg-five {
  background-image: url('/images/exercise5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color:  rgba(66, 255, 0, 0.3);
  background-blend-mode: overlay;
  position: relative;
}
 .training-bg-six {
  background-image: url('/images/exercise6.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color:  rgba(0, 71, 255, 0.3);
  background-blend-mode: overlay;
  position: relative;
}

.first-row-first-img-title{
  position:absolute;
  bottom: 2rem;
  left:1.25rem;
  font-size: 0.9rem;
  color:black;
}
.first-row-third-img-title{
    color:white;
    font-size: 0.9rem;
    position: absolute;
    bottom: 2rem;
    left: 1.25rem;
}
.first-row-second-img-title{
    color:white;
    font-size: 0.9rem;
    position: absolute;
    top: 2rem;
    left: 1.25rem;
}

.second-row-first-img-title{
  color:white;
  font-size: 0.9rem;
  position: absolute;
  top: 2rem;
  right: 1.25rem;
}

.hide{
  display: inline;
}



  

/* training section ends here */



/* BMI section starts here */

.bmi-calculation{
  display: flex;
  justify-content: space-between;
 
}

  .bmi-info{
    width: 65%;
    margin: 0 auto;
  }

  .bmi-chart-headline{
    color:white;
    font-size: 1.75rem;
  }
  table{
    border-collapse: collapse;
    margin-top: 2rem;
  }
  th{
    color:white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 1rem;
  }
  td{
    color:rgba(255, 255, 255, 0.5);
    padding: 1rem 3rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  .bmi-caltolator{
    width: 50%;
    
  }

  .bmi-caltolator button{
    margin-left: 1rem;
    
  }

  .bmi-calculator-title{
    color:white;
    font-size: 1.75rem;
  }
  .bmi-calculator-subtitle{
    color:rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
  }

  .bmi-inputs{
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    gap: 1rem;
    margin: 1rem;
  }
  .bmi-inputs select:nth-child(5) {
    grid-column: span 2;
    
  }
  .bmi-inputs input{
    color:rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.2);
    border:none;
    padding: 1rem;
    border-radius: 0.5rem;
  }
  .bmi-inputs select{
    color:rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.2);
    border:none;
    padding: 1rem;
    border-radius: 0.5rem;
  }
/* BMI section ends here */





/* ------------------------------------- */

/* Responsive for Mobile */

@media screen and (max-width: 576px) {
  
  .menu > ul {
    display: none;
  }
  .icon {
    display: block;
  }
  .navbar {
    margin-left: 0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin: 0 1rem;

  }

  .hero-container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    margin: 1rem 1rem;
  }

  .hero-info{
    width:20rem ;
    height:18rem ;
    
  }

  #hero-title{
    font-size: 2.25rem;
  }

  .buttons{
    display: flex;
    
    
  }
  .buttons button{
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
  }
  .btn-download{
    margin-left: 3rem;
  }

  .tutorial{
    background: rgba(48, 48, 48, 0.54);
    width: 155px;
    position:absolute;
    bottom: -12rem;
    left: 1rem;
  }
  .videos{
    top:24rem;
    left:13rem
  }

  /* habit section responsiveness starts here */

  .responsive-br{
    display: none;
  }

  .habit{
    padding-top: 1rem;
  }

  .habit-title{
    font-size: 2rem;
    font-weight: 900;
  }

  .circle-imgs{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }

  .circle-img-card{
    text-align: center;
    margin: 1rem 0;
  }
  /* habit section responsiveness ends here */

  /* Run section's responsiveness starts here */

  .run-container{
    display: flex;
    flex-direction: column;
    border-radius: 1.25rem;
    background-color: rgb(34, 34, 34);
   
  }

  .run-info{
    width: 90%;   
  }
  .run-info div{
    display: flex;
    justify-content: center;
  }

  .run-info button{
    padding: 1rem 5rem;
    
  }

  .run-img{
    width: 20rem;
    height: 17rem;
  }



  /* Run section's responsiveness ends here */

  /* training section's responsiveness starts here */

  .training-info{
    width:90%;
  }

  .training-title{
    font-size: 2rem;
}

.training-subtitle{
  padding: 0.1rem 0;
  
  
}

  .hide{
    display: none;
  }

  .first-row-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color:white;
   }
   .second-row-img{
    display: grid;
    grid-template-columns: 47% 53%;
    color:white;
   }

   .training-bg-one {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(6, 255, 210, 0.5);
    background-blend-mode: overlay;
    position:relative;
  }
  .first-row-first-img-title{
    color:white;
  }

  .training-bg-two {
    background-position: 85% 10%;
  }

  .training-bg-four {
    background-position: 40% 10%; 
  }

  .second-row-first-img-title{
    top:9.5rem;
    right: 1.25rem;
  }
  .training-bg-five {
    
    background-position: 60% 30%;
    background-size: cover;
    
  }



  /* training section's responsiveness ends here */

  /* Bmi section's responsiveness startss here */
  .bmi-info{
    width: 90%;
    margin: 0 auto;
  }

  .bmi-calculation{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   
  }

  .bmi-calculator-title{
    font-size: 1rem;
  }
  .training-title{
    font-size: 1rem;
    font-weight: 900;

  }
  .bmi-caltolator{
    width: 100%;
   margin-top: 2rem;
   
    
  }
  .bmi-inputs{
    display: grid;
    grid-template-columns: repeat(2,auto) ;
    gap: 1rem;
    margin: 1rem 0;
    width: 100%;

  }

  .bmi-caltolator button{
    margin-left: 0;
    padding: 1rem 6rem;
    
    
  }
  /* Bmi section's responsiveness ends here */



  
}
