@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DK+Uloopet:wght@100..400&display=swap");

* {
  margin: 0;
  padding: 0;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.play-font {
  font-family: "Playwrite DK Uloopet", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-primary {
  background-color: rgb(230, 83, 60);
  border: none;
  border-radius: 2.5rem;
  color: aliceblue;
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
}
.btn-download{
  background-color: rgb(4, 4, 4);
  border: 2px solid white;
  border-radius: 2.5rem;
  color: aliceblue;
  font-size: 1.2rem;
  padding: 1rem 2.5rem;
  margin-left: 1rem;

}

.body {
  /* max-width: 1440px; */
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.responsive-br {
  display: inline;
}

.icon {
  width: 3rem;
  display: none;
}

.gray-description{
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;

}

.header {
  width: 100%;
  background: linear-gradient(
    180deg,
    rgb(17, 17, 17),
    rgba(7, 7, 7, 0) 100%
  );
}


/* navbar section starts here */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  margin: 0 3rem;
}
.menu > ul {
  display: flex;
  align-items: center;
  color: white;
  list-style-type: none;
}

.menu > ul > a {
  text-decoration: none;
  margin-right: 1rem;
  color: white;
}
.navbar > h1 {
  color: rgb(230, 83, 60);
  font-size: 2.25rem;
  font-weight: 800;
}

#home {
  background-color: rgb(230, 83, 60);
  padding: 0.5rem 1rem;
  border-radius: 2.75rem;
}
/* navbar section ends here */




/* hero section */

.hero-container {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  margin: 0 3rem;

}

.hero-info{
  width:37.5rem ;
  height:25rem ;
}

#hero-title{
  color:white;
  font-size: 5rem;
  font-weight: bold;
}


.buttons{
  margin-top: 1rem;
}



.hero-img{
  width: 21rem;
  height:34rem ;
}
.hero-img img{
  width: 100%;
  height: 100%;
  position:relative;
}
.reddot{
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background: red;
}

.tutorial{
 
  background: rgba(48, 48, 48, 0.54);
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  position:absolute;
  bottom: 3rem;
  right:24rem
}
.tutorial-info{
  color:white;
  font-size: 1.5rem;
  font-weight: bold;
  
}

.videos{
  background: rgba(48, 48, 48, 0.54);
  border-radius: 0.5rem;
  padding: 1rem;
  width: 10rem;
  position:absolute;
  top:18rem;
  right: 4rem;
  
}
.videos h2{
  color:white;
  font-weight: bold;
  font-size: 2.5rem;
}


/* Habit section starts here */

  .habit                                 {
    background: rgb(0, 0, 0);
    padding-top: 3rem;
  }

  .habit-title{
    color:aliceblue;
    font-size: 3rem;
    text-align: center;

  }
  .habit-subtitle{
    color:rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    text-align: center;
  }


  .circle-imgs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2rem;
  }
  .circle-img-card{
    text-align: center;
  }

  .circle-img-card img{
    border:1px solid white;
    border-radius: 50%;
    margin-bottom: 0.5rem;
  }
  .circle-img-card h3{
    color:aliceblue;
    font-size: 1rem;
  
  }

/* Habit section ends here */

/* Responsive for Mobile */

@media screen and (max-width: 576px) {
  
  .menu > ul {
    display: none;
  }
  .icon {
    display: block;
  }
  .navbar {
    margin-left: 0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin: 0 1rem;

  }

  .hero-container {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    margin: 1rem 1rem;
  }

  .hero-info{
    width:20rem ;
    height:18rem ;
    
  }

  #hero-title{
    font-size: 2.25rem;
  }

  .buttons{
    display: flex;
    
    
  }
  .buttons button{
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
  }
  .btn-download{
    margin-left: 3rem;
  }

  .tutorial{
    background: rgba(48, 48, 48, 0.54);
    width: 155px;
    position:absolute;
    bottom: -12rem;
    left: 1rem;
  }
  .videos{
    top:24rem;
    left:13rem
  }

  /* habit section responsiveness starts here */

  .responsive-br{
    display: none;
  }

  .habit{
    padding-top: 1rem;
  }

  .habit-title{
    font-size: 2rem;
    font-weight: 900;
  }

  .circle-imgs{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }

  .circle-img-card{
    text-align: center;
    margin: 1rem 0;
  }
  /* habit section responsiveness ends here */

  
}
